# Operações básicas

In [1]:
1 + 1

2

In [2]:
1*3

3

In [3]:
1/2

0.5

In [7]:
2**3

8

In [8]:
4%2

0

In [5]:
type(1)

int

In [6]:
type(1.0)

float

type(), método que encontra tipos

# Definições de variaveis

case sensitive

In [9]:
x = 1
X = 2

In [10]:
X+x

3

## String

In [11]:
string = 'nome_da_variavel'

In [12]:
print(string)

nome_da variavel

In [13]:
type(string)

str

In [15]:
var = 'Lucas'
'nome_da_variavel: {}'.format(var)

'nome_da_variavel: Lucas'

In [17]:
idade = 20;
'nome_da_variavel: {one} e tenho {two} anos'.format(one=var, two=idade)

'nome_da_variavel: Lucas e tenho 20 anos'

## Lista

In [18]:
lista = [1,2,3]

In [19]:
type(lista)

list

In [20]:
lista = [1.0, 'hello', 6]

In [21]:
lista

[1.0, 'hello', 6]

In [22]:
lista = [1.0, 'hello', [1,2,3]]

In [23]:
lista

[1.0, 'hello', [1, 2, 3]]

In [30]:
lista[2][1]

2

slice de listas e strings

In [27]:
lista[1:]

['hello', [1, 2, 3]]

In [29]:
lista[:2]

[1.0, 'hello']

In [31]:
string[:4]

'nome'

## Dicionário

In [32]:
dic = {'valor1':1, 'valor2':2, 'lista':[1,2,3], 'str':'ola'}

In [37]:
type(dic)

dict

In [35]:
dic['lista']

[1, 2, 3]

In [36]:
dic['valor1']

1

## Tupla
- Muito parecido com as listas, mas não podem ser modificadas após a criação

In [38]:
lista

[1.0, 'hello', [1, 2, 3]]

In [39]:
lista[1] = 2.0
lista[2] = 3.0

In [40]:
lista

[1.0, 2.0, 3.0]

In [41]:
t = (1.0,2.0,3.0)

In [42]:
type(t)

tuple

In [44]:
t[0]

1.0

In [45]:
t[0]= 5.0

TypeError: 'tuple' object does not support item assignment

## Boleano

In [46]:
1 == 1

True

In [47]:
1 == 2

False

In [48]:
x  = 3

In [49]:
x > 1

True

In [50]:
x <= 3

True

In [51]:
x <3

False

In [52]:
x != 2

True

In [53]:
(x == 3) and (x < 5)

True

In [54]:
(x == 3) and (x > 5)

False

In [57]:
(x == 3) or (x > 5)

True

# IF 
## Usando if, else, elif

In [58]:
x = 7
y = 'Aprovado'

In [60]:
if x >= 7:
    y = 'Aprovado'
else:
    y = 'Reprovado'

In [61]:
y

'Aprovado'

In [62]:
x = 4

In [64]:
if x >= 7:
    y = 'Aprovado'
else:
    y = 'Reprovado'

In [65]:
y

'Reprovado'

In [89]:
if x >= 8:
    y = 'Aprovado'
elif x > 5:
    y = 'Recuperação'
else:
    y = 'Reprovado'

In [90]:
x = 6

In [91]:
y

'Recuperação'

# For e while

In [94]:
seq= [1,2,3,4,5]

- percorrendo uma lista

In [93]:
for item in seq:
    print(item)

1
2
3
4
5

- Usando RANGE

In [95]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [96]:
i = 1

In [98]:
while i < 4:
    print('i vale: {}'.format(i))
    i= i+1;

i vale: 1
i vale: 2
i vale: 3

- append: adicionar elementos na lista, no fim da lista

In [123]:
out =[]
x = [1,2,3,4]

In [115]:
for item in x:
    out.append(item**2)
out

[1, 4, 9, 16]

- outra forma de fazer o que foi feito acima, compreensão de uma lista

In [122]:
[item**2 for item in x]

[1, 4, 9, 16]

# Funções
- Códigos utilizaveis mais de uma vez durante o codigo
- pode ou não retornar valores

In [124]:
def minha_func(param):
    x = param**2
    return x

In [127]:
x = 3

In [128]:
minha_func(x)

9

## Funções Lambda
- Reduz o tamanho do codigo
- mais utilizado em caso de funções não tão utilizadas
- usada em contextos especificos

In [131]:
def quadrado(var): return var**2

In [129]:
lambda var: var**2

### Map and filter

In [133]:
seq=(1,2,3,4,5)

- MAP é uma função que calcula todos os valores de um interavel, passando todos os valores da lista como parametros da função

In [132]:
map(quadrado,seq)

- criou o objeto mas não fez os calculos, para fazer basta converter em formato de lista

In [134]:
list(map(quadrado,seq))

[1, 4, 9, 16, 25]

- outra forma de escrever o MAP utilizando FUNÇÃO LAMBDA

In [135]:
list(map(lambda var: var**2,seq))

[1, 4, 9, 16, 25]

### Filter
- Filtra de uma sequecia apartir de um filtro que você cria (a função)

In [136]:
list(filter(lambda item:item%2==0,seq))

[2, 4]

In [137]:
list(filter(lambda item:item%2!=0,seq))

[1, 3, 5]

## Métodos

- são "funções" de uma classe atribuidas a seus objetos
- fazem alguma coisa com o objeto

In [138]:
str = 'Oi meu nome e Lucas'

In [141]:
type(str)

str

- metodo para deixar todos os caracteres em minusculo e  maisculo

In [142]:
str.lower()

'oi meu nome e lucas'

In [143]:
str.upper()

'OI MEU NOME E LUCAS'

In [154]:
lista = [1,2,3]

In [155]:
lista.pop(2)

3

In [156]:
lista

[1, 2]

In [157]:
lista.append(4)

In [158]:
lista

[1, 2, 4]

- Operador IN verifica se um elemento está na lista

In [159]:
x in lista

False

In [160]:
2 in lista

True

In [161]:
lista

[1, 2, 4]