In [1]:
import numpy as np
import pandas as pd

### Importar dados com pandas

In [2]:
df = pd.read_csv('exemplo', sep=',')

In [3]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [4]:
df = df*df

In [5]:
df

     a    b    c    d
0    0    1    4    9
1   16   25   36   49
2   64   81  100  121
3  144  169  196  225

In [6]:
df.to_csv('exemplo_quad',sep=';',decimal=',')

In [10]:
df = pd.read_excel('Exemplo_Excel.xlsx',sheet_name='Sheet1')

In [11]:
df

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [12]:
del df['Unnamed: 0']

In [13]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [15]:
df.to_excel('exemplo2.xlsx',sheet_name='Sheet1')

- Importando HTML

In [16]:
df = pd.read_html('https://www.fdic.gov/bank/individual/failed/banklist.html')

ImportError: lxml not found, please install it