In [10]:
import pandas as pd
import numpy as np

- Criando duas listas
- Zipando as listas
- mesclando elas como tuplas
- **hier_index = pd.MultiIndex.from_tuples(hier_index)** Cria um obejto no pd que é um indice multinivel

In [13]:
outside =['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [17]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

- Criando o DF 6,2 com o indice multinivel, onde G1 é o nível esterior e (1,2,3) o interior

In [15]:
df = pd.DataFrame(np.random.rand(6,2),index= hier_index, columns =['A','B'])

In [25]:
df

             A         B
G1 1  0.086345  0.328322
   2  0.930781  0.758600
   3  0.363292  0.861714
G2 1  0.809965  0.535637
   2  0.564524  0.358110
   3  0.655169  0.260469

- Basicamente um DF normal, de um nivel de indice

In [24]:
df.loc['G1']

          A         B
1  0.086345  0.328322
2  0.930781  0.758600
3  0.363292  0.861714

In [23]:
df.loc['G1'].loc[1]

A    0.086345
B    0.328322
Name: 1, dtype: float64

### **Adicionando nomes sobre as colunas dos indíces**

In [26]:
df.index.names

FrozenList([None, None])

In [27]:
df.index.names = ['Grupo', 'Número']

In [29]:
df.index.names

FrozenList(['Grupo', 'Número'])

In [30]:
df

                     A         B
Grupo Número
G1    1       0.086345  0.328322
      2       0.930781  0.758600
      3       0.363292  0.861714
G2    1       0.809965  0.535637
      2       0.564524  0.358110
      3       0.655169  0.260469

### **df.xs()** -> Cross seccion
- Em algumas situações é melhor que o loc[], visto que com ele é possível filtrar o DF pelo nível externo

In [32]:
df.xs('G1')

               A         B
Número
1       0.086345  0.328322
2       0.930781  0.758600
3       0.363292  0.861714

- Exemplo:

In [33]:
df.xs(1,level='Número')

              A         B
Grupo
G1     0.086345  0.328322
G2     0.809965  0.535637