In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(101)

In [19]:
df = pd.DataFrame(np.random.rand(5,4),index='A B C D E'.split(), columns='W X Y Z'.split())

In [20]:
df

          W         X         Y         Z
A  0.625773  0.100850  0.710853  0.881330
B  0.695290  0.266173  0.909964  0.579618
C  0.359687  0.852634  0.246179  0.780444
D  0.045510  0.885041  0.276421  0.580924
E  0.910662  0.992591  0.062224  0.928481

In [21]:
df > 0.5

       W      X      Y     Z
A   True  False   True  True
B   True  False   True  True
C  False   True  False  True
D  False   True  False  True
E   True   True  False  True

In [34]:
bol = df > 0.5

### Filtros

- Parecido com o **numpy** o que muda é a saida. Enquanto no Numpy a saída é um array redimencionado com apenas o que for True, no Panda ele retorna toda a tabela com NaN nos locais falsos

In [27]:
df[bol]

          W         X         Y         Z
A  0.625773       NaN  0.710853  0.881330
B  0.695290       NaN  0.909964  0.579618
C       NaN  0.852634       NaN  0.780444
D       NaN  0.885041       NaN  0.580924
E  0.910662  0.992591       NaN  0.928481

- Mostrará apenas as linhas onde o argumento comparado for maio que o que se pede

In [30]:
df[df['W']>0.5]

          W         X         Y         Z
A  0.625773  0.100850  0.710853  0.881330
B  0.695290  0.266173  0.909964  0.579618
E  0.910662  0.992591  0.062224  0.928481

- Mostrará apenas os elementos da coluna indicada no caso X, quando a comparação na coluna indicada for verdadeira

In [33]:
df[df['W']>0.5]['X']

A    0.100850
B    0.266173
E    0.992591
Name: X, dtype: float64

In [40]:
bol = df['W']>0.5
df2 = df[bol]
df2['X']

A    0.100850
B    0.266173
E    0.992591
Name: X, dtype: float64

- limite inferior e superior
- a comparação entre series só funciona com os simbolos | e &

In [44]:
df[(df['W']>0.5) & (df['Z']>0.8)]

          W         X         Y         Z
A  0.625773  0.100850  0.710853  0.881330
E  0.910662  0.992591  0.062224  0.928481

- alteração de index
- sem o implace a alteração não é direta e definitiva
- o index passa a ser o padrao (seq numerica), e o antigo index vira coluna

In [45]:
df.reset_index()

  index         W         X         Y         Z
0     A  0.625773  0.100850  0.710853  0.881330
1     B  0.695290  0.266173  0.909964  0.579618
2     C  0.359687  0.852634  0.246179  0.780444
3     D  0.045510  0.885041  0.276421  0.580924
4     E  0.910662  0.992591  0.062224  0.928481

In [46]:
col = 'SP RJ PB PA RS'.split()

In [47]:
col

['SP', 'RJ', 'PB', 'PA', 'RS']

In [48]:
df['Estados'] = col

In [49]:
df

          W         X         Y         Z Estados
A  0.625773  0.100850  0.710853  0.881330      SP
B  0.695290  0.266173  0.909964  0.579618      RJ
C  0.359687  0.852634  0.246179  0.780444      PB
D  0.045510  0.885041  0.276421  0.580924      PA
E  0.910662  0.992591  0.062224  0.928481      RS

- definindo uma coluna como index

In [52]:
df.set_index('Estados', inplace=True)

In [53]:
df

                W         X         Y         Z
Estados
SP       0.625773  0.100850  0.710853  0.881330
RJ       0.695290  0.266173  0.909964  0.579618
PB       0.359687  0.852634  0.246179  0.780444
PA       0.045510  0.885041  0.276421  0.580924
RS       0.910662  0.992591  0.062224  0.928481