In [4]:
import pandas as pd
import numpy as np

 -  vai gerar numeros aleatorios iguais em qualquer computador

In [19]:
np.random.seed(101)

- Cria uma especie de planilha (um conjunto de s√©ries)

In [17]:
df = pd.DataFrame(np.random.rand(5,4),'A B C D E'.split(),'W X Y Z'.split())

In [23]:
df

          W         X         Y         Z
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613
C  0.721544  0.189939  0.554228  0.352132
D  0.181892  0.785602  0.965483  0.232354
E  0.083561  0.603548  0.728993  0.276239

- mostra apenas uma coluna

In [28]:
df['Y']

A    0.028474
B    0.306966
C    0.554228
D    0.965483
E    0.728993
Name: Y, dtype: float64

- Series de Series

In [29]:
type(df['Y'])

pandas.core.series.Series

- Dataframe

In [30]:
type(df)

pandas.core.frame.DataFrame

- mostrar mais de uma coluna, passar uma lista

In [31]:
df[['W','Y']]

          W         Y
A  0.516399  0.028474
B  0.685277  0.306966
C  0.721544  0.554228
D  0.181892  0.965483
E  0.083561  0.728993

- Outra forma de acessar uma coluna no DF

In [32]:
df.Z

A    0.171522
B    0.893613
C    0.352132
D    0.232354
E    0.276239
Name: Z, dtype: float64

### Criar nova coluna

In [62]:
df['NEW'] = df['X'] + df ['Z']

In [63]:
df

          W         X         Y         Z       NEW
A  0.516399  0.570668  0.028474  0.171522  0.742189
B  0.685277  0.833897  0.306966  0.893613  1.727510
C  0.721544  0.189939  0.554228  0.352132  0.542071
D  0.181892  0.785602  0.965483  0.232354  1.017955
E  0.083561  0.603548  0.728993  0.276239  0.879787

- **Excluir coluna**

In [64]:
df.drop('NEW', axis=1)

          W         X         Y         Z
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613
C  0.721544  0.189939  0.554228  0.352132
D  0.181892  0.785602  0.965483  0.232354
E  0.083561  0.603548  0.728993  0.276239

In [65]:
df

          W         X         Y         Z       NEW
A  0.516399  0.570668  0.028474  0.171522  0.742189
B  0.685277  0.833897  0.306966  0.893613  1.727510
C  0.721544  0.189939  0.554228  0.352132  0.542071
D  0.181892  0.785602  0.965483  0.232354  1.017955
E  0.083561  0.603548  0.728993  0.276239  0.879787

- Uso do **inplace** para alterar diretamente no DF

In [66]:
df.drop('NEW', axis=1,inplace=True)

In [67]:
df

          W         X         Y         Z
A  0.516399  0.570668  0.028474  0.171522
B  0.685277  0.833897  0.306966  0.893613
C  0.721544  0.189939  0.554228  0.352132
D  0.181892  0.785602  0.965483  0.232354
E  0.083561  0.603548  0.728993  0.276239

### Localizar elementos
- Utilizando do Pandas para fazer buscar no DF

In [69]:
df.loc['A']

W    0.516399
X    0.570668
Y    0.028474
Z    0.171522
Name: A, dtype: float64

In [73]:
df.loc[['A', 'E'],['W','Z']]

          W         Z
A  0.516399  0.171522
E  0.083561  0.276239

- Localizar elementos no **DF** utilizando nota√ß√£o de **Numpy**

In [78]:
df.iloc[1:4,1:3]

          X         Y
B  0.833897  0.306966
C  0.189939  0.554228
D  0.785602  0.965483